body{
    background-image: url(./wallpaper3.png) ;
    background-repeat: no-repeat;
    background-size: cover;
}

.cars{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    height: 1200px;
    border: solid 2px lightcoral;
    justify-content: space-around;
    align-items: center;
}
.suv1{
    width: 700px;
    height: 500px;
    border: solid 2px black;
    text-align: center;
}
.suv2{
    width: 700px;
    height: 500px;
    border: solid 2px black;
    text-align: center;

}
.suv3{
    width: 700px;
    height: 500px;
    border: solid 2px black;
    text-align: center;

}
.suv4{
    width: 700px;
    height: 500px;
    border: solid 2px black;
    text-align: center;

}