body{
    background-image: url(./wallpaper2.png);
    background-repeat: no-repeat;
    background-size: cover;
}
.main{
    margin: auto;
    border: solid 2px lightcyan;
    border-radius: 2px;
    width: 700px;
    height: 700px;
    text-align: left;
    font-size: large;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    position: absolute;
}